<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" 
      style="cursor:pointer"
      *ngFor="let ingredient of ingredients; let i = index"
      (click)="onEditItem(i)"
      >
      {{ingredient.name}} ({{ingredient.amount}}) (${{ingredient.price}})</a>
    </ul>
    <div>
      <ul class="list-group"
          (click)="getTotalPrice()"
          >
          <a class="list-group-item">
              Total Price:${{totalPrice}}
          </a>
      </ul>
      <button class="btn btn-danger "
        type="button"
        (click)="onReset">
        reset</button>
  </div>
  </div>
</div>